*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

.site-header{
    background-color: #284e2c;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.header-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header h1 {
    font-size: 22px;
}
/* NAVIGATION */
.main-nav ul {
    list-style: none;
    display:flex;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.main-nav a:hover {
    color: #fbbf24;
}


/* MAIN CONTENT */
.main-content {
    width: 90%;
    margin: 30px auto;
}

section {
    background: rgb(195, 210, 177);
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

sectiono h2{
    margin-bottom: 15px;
    color: #284e2c;
}

/* FORM SECTION */
.form-section {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-section input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex: 1;
    min-width: 200px;}
    
.form-section button {
    padding: 10px 18px;
    border: none;
    background-color: #718c11;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}    
.form-section button:hover {
    background-color: #8b6233;
    font-size: 12px;
   
}

/* TABLE */
.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section th,
.table-section td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table-section th {
    background-color: #0a4702;
    color: white;
}

.table-section tr:hover {
    background-color: #f1f5f9;
}

/* RESULTS */
.results-section {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.results-section span {
    color: #1e3a8a;
}


/* FOOTER */
.footer {
    background: #083001;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}


/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

    .header-container {
        flex-direction: column;
        gap: 10px;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .form-section {
        flex-direction: column;
    }

}


/* DARK MODE */
body.dark {
    background-color: #0f172a;
    color: #f1f5f9;
}

body.dark section {
    background-color: #1e293b;
    color: #f1f5f9;
}

body.dark .site-header,
body.dark .footer {
    background-color: #0f172a;
}

body.dark .table-section th {
    background-color: #334155;
}

body.dark .form-section button {
    background-color: #2563eb;
}

